<h2>プロフィール</h2>
<p>ニックネーム:<%= @user.name %></p>
<p>登録メールアドレス:<%= @user.email %></p>
<strong>Image:</strong>
<%= image_tag @user.image.url %>

<% if @user == current_user %>
  <p><%= link_to 'プロフィールを編集する',edit_user_path %></p>
  <p><%= link_to 'お気に入りを見る',favorites_user_path %></p>
<% else %>
  <p></p>
<% end %>

<p><%= link_to 'トップへ',photos_path %></p>