<h2>プロフィール</h2>
<p>ニックネーム:<%= @user.name %></p>
<p>登録メールアドレス:<%= @user.email %></p>
<strong>Image:</strong>
<%= image_tag @user.image.url %>

<p><%= link_to 'プロフィールを編集する',edit_user_path %>
  <%= link_to 'お気に入りを見る',favorites_user_path %>
  <%= link_to 'トップへ',photos_path %></p>