<h1>Photos#edit</h1>

<%= form_with(model: @photo, local: true) do |form| %>
    
  <div class="photo_content">
    <%= form.label :コメント %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

    <%= form.submit %>
<% end %>
